.calculator {
  width: 1280px;
  height: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.calculator__inputs {
  width: 685px;
}

.calculator__result {
  width: 595px;
  background: #56C6AD;
  border-radius: 0px 10px 10px 0px;
}

.checkbox.style-e {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox.style-e input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox.style-e input:checked ~ .checkbox__checkmark {
  background-color: #f7cb15;
}

.checkbox.style-e input:checked ~ .checkbox__checkmark:after {
  left: 21px;
}

.checkbox.style-e:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}

.checkbox.style-e:hover input:checked ~ .checkbox__checkmark {
  background-color: #f7cb15;
}

.checkbox.style-e .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 40px;
  background-color: #eee;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}

.checkbox.style-e .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.checkbox.style-e .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
