<div class="calculator__input-wrapper">

  <input
    type="text"
    class="calculator__input"
    [value]="investmentAmount"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    (input)="onKeyup($event)"
    (blur)="onBlur()"
    appDigitsLimit
  >
  <div class="calculator__button-wrapper">
      <button (click)="decreaseAmount()" class="calculator__button btn-minus">-</button>
      <button (click)="increaseAmount()" class="calculator__button btn-plus">+</button>
  </div>
</div>



