.calculator {
  &__select {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 999;

    &>li {
      list-style: none;
      padding: 12px 24px;
      border-radius: 6px;

      &:hover {
        background: #F4F5F6;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    &:hover {
      cursor: pointer;
    }
  }
}

.input-append {
  position: absolute;
  top: 16px;
  left: 250px;
}

.option {
  display: flex;
  align-items: center;
}
.apr-icon {
  width: 59px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background: #77D8C2;
  border-radius: 4px;
}
