<div class="input__wrapper">
  <input
    type="text"
    class="input__field hover"
    [value]="currency?.name ?? ''"
    (click)="openSelect()"
    (input)="filterInput($event)"
    (focusout)="onBlur()"
  />

  <div class="input-append" *ngIf="currency">
    <div class="badge">APR {{ currency.apr }}</div>
  </div>

  <ng-container *ngIf="options$ | async as options">
    <ul class="select">
      <li *ngFor="let item of options" (click)="selectOption(item)">
        <div class="select__option">
          <a [innerHTML]="item.name"></a>
          <div class="badge">APR {{ item.apr }}</div>
        </div>
      </li>
    </ul>
  </ng-container>
</div>
