<div class="form-field" [class.form-field_error]="hasError()">
  <label class="form-field__label">
    {{ label }}
    <span class="form-field__req" *ngIf="required">*</span>
  </label>

  <div class="form-field__control">
    <ng-content></ng-content>

    <div class="form-field__error">

      <ng-container *ngIf="control && errorKey" [ngSwitch]="errorKey">
        <span *ngSwitchCase="'min'">Minimum <span *ngIf="control.errors">{{control.errors[errorKey].min}}</span></span>
        <span *ngSwitchCase="'max'">Maximum <span *ngIf="control.errors">{{control.errors[errorKey].max}}</span></span>
        <span *ngSwitchCase="'required'"><span *ngIf="control.errors">This field is required</span></span>
        <span *ngSwitchCase="'requiredTrue'"><span *ngIf="control.errors">This field is required</span></span>
        <span *ngSwitchCase="'minlength'"><span *ngIf="control.errors">At least {{control.errors[errorKey].requiredLength}}</span> characters</span>
        <span *ngSwitchCase="'maxlength'">No more than <span *ngIf="control.errors">{{control.errors[errorKey].requiredLength}}</span>
          characters</span>
        <span *ngSwitchCase="'pattern'">
          <span *ngIf="control.errors">
              <span>{{patternError ? patternError: 'Pattern does not match'}}</span>
          </span>

                </span>
      </ng-container>

    </div>
  </div>

</div>
