$primary-color: #56C6AD;;
$accent-color: #FFFFFF;
$label-text-color: #252F2C;
$line-bg-color: #E6E9ED;
$badge-bg-color: #77D8C2;
$caption-text-color: #838C8A;
$tooltip-bg-color: rgba(37, 47, 44, 0.94);
$minus-btn-color: #C75D30;
$plus-btn-color: #539985;;
$input-text-color: #4A5653;
$checkbox-bg-color: #E0F3EF;
$info-bg-color: #CFCFCF;
$input-bg-color: #F4F5F6;
$hover-color-color: #F6F7FB;

