.calculator {
  &__input-wrapper {
    position: relative;
  }

  &__input {
    width: 547px;
    height: 50px;
    padding: 16px;
    padding-left: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #4a5653;
    background: #f4f5f6;
    border-style: none;
  }
}
