@import './mixins';
@import './variablies';

.card-size {
  @include size($width: $width-card, $height: $height-card);
}

.input-block-size {
  @include size($width: 685px);
}

.card {
    @extend .card-size;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend .box-shadow-2;
    border-radius: 10px;

  &__inputs-block {
    @extend .input-block-size;
    padding: 45px;
  }

  &__result-block {
    flex: 1;
    padding: 40px 50px;
    background: $primary-color;
    border-radius: 0px 10px 10px 0px;

    .resut__label {
      margin-bottom: 36px;

      span {
        @extend .text-subtitle;
      }

      p {
        @extend .text-prime;
        padding: 6px 0;
      }
    }

    .result__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 33px;
    }
  }
}

.icon {
  position: relative;
}

section.rating-star {
  display: flex;
  justify-content: space-between;
  width: 134px;
}
