<div class="checkbox__wrapper">
  <div class="checkbox__label">
    <div>{{label}}</div>
    <custom-icon text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus"></custom-icon>
  </div>

    <label class="calculator__checkbox">
      <input type="checkbox" class="checkbox__input" (change)="onChanged($event)">
      <div class="checkbox__checkmark"></div>
  </label>

<div class="checkbox__label">
  <div> Lorem ipsum dolor sit</div>
  <custom-icon  text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus"></custom-icon>
</div>
</div>


