<div class="checkbox__wrapper">
  <div class="checkbox__label">
    <div>{{ label }}</div>
    <app-custom-icon
      text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus"
    ></app-custom-icon>
  </div>

  <label class="checkbox__field">
    <input
      type="checkbox"
      class="checkbox__input"
      (change)="onChanged($event)"
    />
    <div class="checkbox__checkmark"></div>
  </label>

  <div class="checkbox__label">
    <div>Lorem ipsum dolor sit</div>
    <app-custom-icon
      text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus"
    ></app-custom-icon>
  </div>
</div>
