<div class="calculator">
  <div class="calculator__inputs">
        <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="calculateProfit()">

          <app-form-field label="Amount?" [control]="form.get('amount')">
            <amount-input formControlName="amount"></amount-input>
          </app-form-field>

          <!-- <app-form-field label="Currency" [required]="true" [control]="form.get('currency')"
            [patternError]="regexErrors.numbers">
            <app-input formControlName="currency"></app-input>
          </app-form-field> -->


          <app-form-field label="Period?" [control]="form.get('select')">
            <custom-select formControlName="periods" selectedItem="12" [items]="periods"></custom-select>
          </app-form-field>

          <app-form-field [control]="form.get('checkbox')">
            <custom-checkbox formControlName="checkbox"></custom-checkbox>
          </app-form-field>
        </form>
  </div>

  <div class="calculator__result">
      <div class="result__profit">
        <h2>Profit:</h2>
        <p>{{result}}</p>
      </div>
      <div class="result__percent">
        <h2>Percent:</h2>
        <p>selectedAPR %</p>
      </div>
      <div class="result__actions">
        <div class="result__stars"></div>
        <button (click)="calculateProfit()">Calculate</button>
      </div>
      <div class="result__info">
        <p>
          <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis facere perferendis sit.
          Accusamus fugiat iure ab dolorum ut officiis, neque, nihil natus dolor velit culpa, et adipisci.
          Ab, beatae ad? Dignissimos ratione incidunt commodi, nulla ipsa adipisci debitis quidem dolorem
          blanditiis est nobis itaque esse dicta minima animi temporibus facilis consequuntur? Saepe assumenda
          aut nisi quidem, voluptatum illo doloribus ipsa.</small>
        </p>
      </div>
  </div>
</div>
