<div class="card">
  <div class="card__inputs-block">
    <form
      [formGroup]="form"
      novalidate
      autocomplete="off"
      (ngSubmit)="calculateProfit()"
    >
      <app-form-field label="Amount?" [control]="form.get('amount')">
        <app-amount-input formControlName="amount"></app-amount-input>
      </app-form-field>

      <app-form-field label="Currency?" [control]="form.get('currency')">
        <app-autocomplete
          formControlName="currency"
          [items]="currencyList"
        ></app-autocomplete>
      </app-form-field>

      <app-form-field label="Period?" [control]="form.get('period')">
        <app-custom-select
          formControlName="period"
          selectedItem="12"
          [items]="periods"
          [isDisabled]="true"
        ></app-custom-select>
      </app-form-field>

      <app-form-field [control]="form.get('checkbox')">
        <app-custom-checkbox formControlName="checkbox"></app-custom-checkbox>
      </app-form-field>
    </form>
  </div>

  <div class="card__result-block">
    <div class="result__profit resut__label">
      <span>Profit:</span>
      <p>{{ profit }}</p>
    </div>
    <div class="result__percent resut__label">
      <span>Percent:</span>
      <p>{{ percent }} %</p>
      <small>Lorem ipsum dolor sit amet consectetur adipisicing elit</small>
    </div>
    <div class="result__actions">
      <app-custom-rating></app-custom-rating>
      <app-custom-button (click)="calculateProfit()">Calculate</app-custom-button>
    </div>
    <div class="result__info">
      <p>
        <small
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          facere perferendis sit. Accusamus fugiat iure ab dolorum ut officiis,
          neque, nihil natus dolor velit culpa, et adipisci. Ab, beatae ad?
          Dignissimos ratione incidunt commodi, nulla ipsa adipisci debitis
          quidem dolorem blanditiis est nobis itaque esse dicta minima animi
          temporibus facilis consequuntur?</small
        >
      </p>
    </div>
  </div>
</div>
