/* You can add global styles to this file, and also import other style files */
@import "./styles/reset.scss";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  background: #ffffff;
  color: #4A5653;
}

.tooltip {
  position: absolute;
  bottom: 27px;
  left: -158px;
  width: 350px;
  height: 80px;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: black;
  z-index: 9999;
  &::before {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid black;
      position: absolute;
      left: calc(50% - 5px);
      top: 80px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
}
